/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/montserrat-v14-latin/montserrat-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../assets/fonts/montserrat-v14-latin/montserrat-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/montserrat-v14-latin/montserrat-v14-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/montserrat-v14-latin/montserrat-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/montserrat-v14-latin/montserrat-v14-latin-regular.svg#Montserrat")
      format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/montserrat-v14-latin/montserrat-v14-latin-600.eot"); /* IE9 Compat Modes */
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../assets/fonts/montserrat-v14-latin/montserrat-v14-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/montserrat-v14-latin/montserrat-v14-latin-600.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/montserrat-v14-latin/montserrat-v14-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/montserrat-v14-latin/montserrat-v14-latin-600.svg#Montserrat")
      format("svg"); /* Legacy iOS */
  font-display: swap;
}

/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/lato-v16-latin/lato-v16-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"),
    url("../assets/fonts/lato-v16-latin/lato-v16-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/lato-v16-latin/lato-v16-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/lato-v16-latin/lato-v16-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/lato-v16-latin/lato-v16-latin-regular.svg#Lato")
      format("svg"); /* Legacy iOS */
  font-display: swap;
}


/* lato-300 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/lato-v16-latin/lato-v16-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Lato Light"), local("Lato-Light"),
    url("../assets/fonts/lato-v16-latin/lato-v16-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/lato-v16-latin/lato-v16-latin-300.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/lato-v16-latin/lato-v16-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/lato-v16-latin/lato-v16-latin-regular.svg#Lato")
      format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/lato-v16-latin/lato-v16-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"),
    url("../assets/fonts/lato-v16-latin/lato-v16-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/lato-v16-latin/lato-v16-latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/lato-v16-latin/lato-v16-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/lato-v16-latin/lato-v16-latin-700.svg#Lato")
      format("svg"); /* Legacy iOS */
  font-display: swap;
}
