extends ../templates/contents.pug

block headVars
    - var title = "Project Description"
    - var tagline = "Describe how and why you chose your iGEM project."
    - var requireMathJax = false

block article
    :markdown-it(html)

        # What should this page contain?

        * A clear and concise description of your project.
        * A detailed explanation of why your team chose to work on this particular project.
        * References and sources to document your research.
        * Use illustrations and other visual resources to explain your project.

        # Advice on writing your Project Description
        
        We encourage you to put up a lot of information and content on your wiki, but we also encourage
        you to include summaries as much as possible. If you think of the sections in your project 
        description as the sections in a publication, you should try to be concise, accurate, and
        unambiguous in your achievements. Your Project Description should include more information 
        than your project abstract.

    - var imgpath = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
    +image(1, imgpath, "Picture by Josh Withers on Unsplash")

    :markdown-it
        # Recording References

        iGEM teams are encouraged to record references you use during the course of your research. They
        should be posted somewhere on your wiki so that judges and other visitors can see how you thought 
        about your project and what works inspired you.


//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
