extends ../templates/contents.pug

block headVars
    - var title = "Model"
    - var requireMathJax = false

block article
    
    :markdown-it(html)
       
        Mathematical models allow us to gain an insight into the functioning of a system and also allow us to hypothesise, predict and verify 
        its behaviour. Formulating a model therefore, provides a mathematical validation of the system created. Considering our restricted and 
        later on non-existent access to a laboratory environment due to COVID-19, these models are the cornerstone of our project — they lend it 
        legitimacy and validity in the absence of experimental proofs. Our project consists of four individual models which collectively complete 
        our project. These would be discussed in the following sections.

        (We also enlisted the help of the majestic Deep Thought to formulate our models, but forty-two was a rather difficult model to realise without 
        any help from pan-dimensional, hyper-intelligent beings.)

        We need a good landing page (with fancy science GIFs and all).

        [Growth Model](/Model/Growth_Model)

        [Kill Switch](Model/Kill_Switch)

        [Viscosity Model](Viscosity_Model)

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.

prepend citations
    - var citations = [{"authors": "Zwietering, M. H., Jongenburger, I., Rombouts, F. M. & van 't Riet, K. (1990).", "journal": "Applied and environmental microbiology.", "numbers": "56(6), 1875-1881.", "title": "Modeling of the Bacterial Growth Curve.", "type": "article", "year_published": 1990}, {"authors": "Verhulst, Pierre-Fran\u00e7ois. (1838).", "journal": "Correspondance Math\u00e9matique et Physique.", "numbers": "10, 113-121.", "title": "Notice sur la loi que la population poursuit dans son accroissement.", "type": "article", "year_published": 1838}]