/** 
* Navbar 
**/

$navBG: #2c3e50;
$navItem: white;
$navItemHover: #18bc9c;

.navbar {
  height: 70px;
  transition: all 0.3s ease, transform 0.5s ease;
  background: $navBG;
  color: white;
  padding: 0;

  .navbar-brand {
    font-size: 1.75rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    position: relative;
    z-index: 200;
    transition: transform 0.3s;
    color: white;

    span {
      font-weight: 600;
    }
    
    &:hover {
      color: white;
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-collapse {
    background-color: $navBG;
  }

  li {
    padding: 0 0.25rem;
  }

  a {
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    color: $navItem;

    &:hover {
      color: $navItemHover;
    }
  }

  .dropdown-menu {
    a {
      color: $navBG;

      &:hover {
        background-color: $navBG;
        color: white;
      }
    }
  }
}

/**
Dark Mode Toggle Switch
**/

#themeSwitchWrapper {
  margin-right: 2rem;
  align-items: center;
  padding-top: 5px;

  i {
    height: 17px;
    width: 17px;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .icon-dark {
    background-image: url(../assets/icons/moon.svg);
    height: 15px;
    width: 15px;
  }

  .icon-light {
    background-image: url(../assets/icons/sun.svg);
  }

  #themeSwitch {
    display: inline-block;

    label.switch {
      display: inline-block;
      position: relative;
      width: 50px;
      height: 20px;
      margin: 0 1rem;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 3px;
      top: 3px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: #2196f3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(29px);
      -ms-transform: translateX(29px);
      transform: translateX(29px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
}
