footer
  .container
    p Sample template built using the iGEM Wiki Starter Pack by BITS Goa.
    p Code released under the MIT license.
    p
      | Based on 
      a(href="https://getbootstrap.com") Bootstrap
      |  and themes 
      a(href="https://bootswatch.com/flatly/") Flatly
      |  and 
      a(href="https://bootswatch.com/darkly/") Darkly
      |  from 
      a(href="https://bootswatch.com/") Bootswatch
      | .
    p Some content from the 
      a(href="https://2020.igem.org/Team:Example") iGEM Example Wiki
      | . Images from 
      a(href="https://unsplash.com") Unsplash
      | . Web fonts from 
      a(href="https://fonts.google.com") Google
      | .