/** 
* Navbar 
**/

$navBG: #2c3e50;
$navItem: white;
$navItemHover: #18bc9c;

$navBG-dark: #375A7F;
$body-dark: #222222;
$dropdown-border-dark: rgb(68, 68, 68);

.navbar {
  height: 70px;
  transition: all 0.3s ease, transform 0.5s ease;
  background: $navBG;
  color: white;
  padding: 0;

  .navbar-brand {
    font-size: 1.75rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    position: relative;
    z-index: 200;
    transition: transform 0.3s;
    color: white;

    span {
      font-weight: 600;
    }

    &:hover {
      color: white;
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-collapse {
    background-color: $navBG;
    transition: all 0.3s ease, transform 0.5s ease;
  }

  li {
    padding: 0 0.25rem;
  }

  a {
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    color: $navItem;

    &:hover {
      color: $navItemHover;
    }
  }

  .dropdown-menu {
    a {
      color: $navBG;

      &:hover {
        background-color: $navBG;
        color: white;
      }
    }
  }
}

// dark mode
body.dark {
  .navbar {
    background-color: $navBG-dark
  }
  
  .navbar-collapse {
    background-color: $navBG-dark;
  }

  .dropdown-menu {
    background-color: $body-dark;
    border: 1px solid $dropdown-border-dark;
    a {
      color: white;

      &:hover {
        background-color: $navBG-dark;
        color: white;
      }
    }
  }
}

@include respond-below(lg) {
  .navbar {
    .navbar-brand {
      font-size: 1.5rem;
      margin-left: 3rem;

      a {
        font-size: 1rem;
      }
    }
    .container {
      max-width: none;
      height: 100%;
    }

    button {
      height: 100%;
      margin-right: 11rem;
    }

    .navbar-collapse {
      padding: 0 3rem 1.5rem 3rem;
    }
  }
  #themeSwitchWrapper {
    position: absolute;
    right: 3rem;
  }
}

@include respond-below(xs) {
  .navbar {
    .navbar-brand {
      margin-left: 1rem;
    }

    button {
      margin-right: 9rem;
    }

    .navbar-collapse {
      padding: 0 1rem 1.5rem 1rem;
    }
  }
  #themeSwitchWrapper {
    right: 1rem;
  }
}

@include respond-below(xxs) {
  .navbar {

    button {
      margin-right: 1rem;
    }
  }
  #themeSwitchWrapper {
    display: none !important;
  }
}

/**
Dark Mode Toggle Switch
**/

#themeSwitchWrapper {
  margin-left: 1rem;
  padding-bottom: 20px;
  height: 20px;

  svg {
    margin-top: 2px;
  }

  #themeSwitch {
    display: inline-block;

    label.switch {
      display: inline-block;
      position: relative;
      width: 50px;
      height: 20px;
      margin: 0 1rem;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 3px;
      top: 3px;
      background-color: $navBG;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider:before {
      background-color: $navBG-dark;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px $navBG-dark;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(29px);
      -ms-transform: translateX(29px);
      transform: translateX(29px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
}
